body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f6fa;
}
#title {
  font-size: 20px;
  max-height: 45px;
}
#myForm {
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 50px;
}

.input-fields {
  padding: 20px;
  padding-bottom: 40px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  height: 90%;
  gap: 0px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(45, 42, 225, 0.08);
}
.form-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.loan-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
.result-row {
  border-radius: 10px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  box-shadow: 0 6px 20px rgba(45, 42, 225, 0.08);
}

button {
  background: #007bff;
  color: white;
  padding: 14px 24px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start;
}

button:hover {
  background: #0056b3;
}
#button {
  margin-top: -100px;
  padding-top: 40px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  background-color: white;
}

.appointment-form {
  position: relative;
  width: 90%;
  max-height: 60%;
  margin-bottom: 5px;
}
.appointment-form input,
.appointment-form select {
  width: 90%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  background: white;
  transition: border 0.2s ease;
}
.appointment-form select {
  width: 100%;
}
#appointment-venue {
  width: 105%;
}
.appointment-form input[type="date"] {
  width: 90%;
  height: 35%;
}
.appointment-form input:focus,
.appointment-form select:focus,
#phone-group:focus-within {
  border-color: #007bff;
  box-shadow: 0 6px 20px rgba(45, 42, 225, 0.08);
}
.appointment-form label {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 16px;
  color: #777;
  pointer-events: none;
  transition: 0.2s ease all;
  background: white;
  padding: 0 6px;
}
.appointment-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.appointment-form select:focus,
#phone-group:focus ~ #country-code {
  appearance: auto;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}

#phone-group {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: visible;
  background: white;
  transition: 0.2s ease all;
  width: 90%;
}

#phone-group select {
  border: none;
  border-radius: 6px;
  color: #777;
  outline: none;
  padding: 14px;
  width: 90px;
  font-size: 14px;
  background: white;
}
#phone-group select:focus,
#phone-group input:focus ~ #country-code {
  color: #777;
  background-color: white;
}
#phone-group input {
  border: none;
  outline: none;
  padding: 14px;
  flex: 1;
  font-size: 16px;
  border-radius: 6px;
}

#phone-wrapper {
  position: relative;
}

#phone-wrapper label {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 16px;
  color: #777;
  pointer-events: none;
  transition: 0.2s ease all;
  background: white;
  padding: 0 6px;
  z-index: 1;
}
input[type="range"] {
  padding: 0%;
  width: 100px;
  margin: 50px;
  color: #007bff;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  display: none;
}
input.error,
select.error,
#phone-group.error {
  border-color: red;
}
.appointment-form select:hover,
.appointment-form input:hover,
#phone-group:hover {
  border-color: #007bff;
  box-shadow: 0 6px 20px rgba(45, 42, 225, 0.08);
}
#phone-group {
  max-width: 330px;
}
#mobile-number {
  width: 70px;
}
#phone-group.focused select {
  color: #777;
}

.appointment-form input:focus + label,
.appointment-form input:not(:placeholder-shown) + label,
.appointment-form select:focus + label,
.appointment-form select:has(option:checked:not([value=""])) + label,
#phone-group input:focus + label,
#phone-group input:not(:placeholder-shown) ~ label,
#phone-group select:has(option:checked:not([value=""])) ~ label,
#phone-group select:focus ~ label {
  top: -8px;
  left: 4px;
  font-size: 12px;
  color: forestgreen;
  font-weight: 500;
  z-index: 1;
}
.range-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.range-label {
  width: 40px; /* reserve equal space for all labels */
  text-align: center; /* keeps numbers centered */
  font-size: 14px;
}

.range-input {
  flex: 1; /* slider takes the rest of the row */
}

.result {
  width: 100%;
}
.result label {
  text-align: left;
}
.result-row input {
  width: 50%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  background: white;
}
.result-table {
  margin-left: 20px;
}
.result-table th {
  text-align: left;
}

.result-table th,
.result-table td {
  background: #fff; /* so the spacing shows as gap color */
  padding: 8px 0px;
  border-radius: 6px; /* optional rounded look */
}

.result-chart {
  text-align: center;
  justify-content: center;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  height: 95%;
  max-width: 380px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  display: grid;
  place-items: center;
}
#loanGuage {
  max-width: 300px;
  margin: 10px;
}

#loan-amount,
#total-amount,
#loan-interest,
#emi {
  border-color: #3abdd7;
}

#title-options,
#first-name,
#last-name,
#phone-group,
#email,
#date-of-birth,
#amount,
#interest,
#period {
  border-color: rgb(128, 181, 164);
}
@media only screen and (max-width: 1260px) {
  .form-row {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0px;
    gap: 20px;
  }
  .input-fields {
    gap: 20px;
  }
}

@media only screen and (max-width: 850px) {
  #myForm {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .form-row {
    gap: 20px;
  }
  .result-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  #button {
    margin-top: 0px;
  }
  #button {
    margin-top: -10px;
  }
  .input-fields {
    gap: 30px;
  }

  .appointment-form,
  #amount,
  #amount_range,
  .amount-row,
  #title-options,
  #phone-group,
  #phone-wrapper,
  #appointment-time,
  #appointment-venue {
    max-width: 500px;
  }
  #title-options,
  #appointment-time,
  #appointment-venue,
  #phone-group,
  #phone-wrapper {
    max-width: 100%;
  }
  #myForm input[type="range"] {
    width: 95%;
    color: #007bff;
  }
  .result {
    width: 90%;
  }
  .result-row input {
    width: 90%;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    background: white;
  }
  .result-text {
    padding: 15px;
    padding-right: 0px;
    border-radius: 10px;
    max-width: 90%;
  }
  .result-chart {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    max-width: 90%;
    height: 87.5%;
  }
  .loan-row {
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .input-fields {
    gap: 30px;
    padding-bottom: 50px;
  }
  .form-row {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .loan-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 10px;
  }
  body {
    padding: auto;
  }
  .result-row {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    padding-right: 50%;
    gap: 10px;
    align-items: center;
    max-width: fit-content;
  }
  #button {
    margin-top: -20px;
  }
}
